@media (max-width:992px) {
    .page .content .row .col#one .image,
    .page .content .row .col#three .image {
        display: none;
    }
}

.page {
    background-color: #e4e4e4;
}

.page .item .continer .row .col-md-6 .card .card-body h2 {
    position: relative;
    padding-bottom: 5px;
    transition: 1s;
}

.page .item .continer .row .col-md-6 .card .card-body h2::before {
    content: "";
    position: absolute;
    content: "";
    position: absolute;
    width: 200px;
    height: 3px;
    background: #ddd;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    border-radius: 10px;
}

.page .item .continer .row .col-md-6 .card .card-body:hover h2 {
    color: #c79c60;
}

.page .item .continer .row .col-md-6 .card .card-body:hover h2::before {
    background-color: #c79c60;
}

.page .specail .conitner .row .col .image {
    position: relative !important;
}